.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-size: auto,cover;
  background-image: linear-gradient(113.8deg, rgba(255, 76, 92, 0.8) 7.5%, rgba(255, 177, 70, 0.8) 94.47%),url('https://cwcb.colorado.gov/sites/cwcb/files/styles/tablet_x2_1024px/public/2020-02/Colorado%20farmland%20flooded%20after%20a%20severe%20storm-banner-2mb_0.jpg');
  background-repeat: repeat,no-repeat;
  background-position: top left,center;
}
.home-hero {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  position: relative;
  min-height: 80vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text {
  color: var(--dl-color-gray-white);
  font-size: 3rem;
}
.home-text01 {
  color: var(--dl-color-gray-white);
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-button {
  color: var(--dl-color-gray-white);
  font-size: 0.75rem;
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-white);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
  background-color: transparent;
}
.home-button:hover {
  color: #000000;
  transform: scale(1.02);
  background-color: rgba(255, 255, 255, 0.6);
}
.home-text06 {
  width: 100%;
  align-self: center;
  box-shadow: rgba(255, 255, 255, 0.56) 5px -10px 10px 3px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.56);
}
.home-stats {
  width: 100%;
  display: grid;
  padding: var(--dl-space-space-threeunits);
  grid-gap: var(--dl-space-space-twounits);
  background-color: rgba(255, 255, 255, 0.56);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.home-stat {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text09 {
  color: rgb(255, 124, 76);
  font-size: 3rem;
}
.home-text10 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.home-text13 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.home-stat1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text17 {
  color: rgb(255, 124, 76);
  font-size: 3rem;
}
.home-text18 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.home-text19 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.home-stat2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text23 {
  color: rgb(255, 124, 76);
  font-size: 3rem;
}
.home-text24 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.home-text27 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.home-stat3 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text31 {
  color: rgb(255, 124, 76);
  font-size: 3rem;
}
.home-text32 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.home-text35 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.home-text39 {
  width: 100%;
  align-self: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.56);
}
.home-text42 {
  color: rgb(105, 101, 101);
  width: 100%;
  font-size: 1.15rem;
  align-self: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.56);
}
.home-stats1 {
  width: 100%;
  display: grid;
  padding: var(--dl-space-space-threeunits);
  grid-gap: var(--dl-space-space-twounits);
  box-shadow: 5px 10px 10px 3px rgba(255, 255, 255, 0.56);
  background-color: rgba(255, 255, 255, 0.56);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.home-stat4 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text46 {
  color: rgb(255, 124, 76);
  font-size: 3rem;
}
.home-text47 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.home-text50 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.home-stat5 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text51 {
  color: rgb(255, 124, 76);
  font-size: 3rem;
}
.home-text52 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.home-text55 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.home-stat6 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text56 {
  color: rgb(255, 124, 76);
  font-size: 3rem;
}
.home-text57 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.home-text60 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.home-stat7 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-text61 {
  color: rgb(255, 124, 76);
  font-size: 3rem;
}
.home-text62 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
.home-text65 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
}
@media(max-width: 991px) {
  .home-hero {
    flex-direction: column;
  }
  .home-text {
    text-align: center;
  }
  .home-text01 {
    text-align: center;
  }
  .home-text09 {
    text-align: center;
  }
  .home-text17 {
    text-align: center;
  }
  .home-text23 {
    text-align: center;
  }
  .home-text31 {
    text-align: center;
  }
  .home-text46 {
    text-align: center;
  }
  .home-text51 {
    text-align: center;
  }
  .home-text56 {
    text-align: center;
  }
  .home-text61 {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .home-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-stats {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    grid-template-columns: 1fr 1fr;
  }
  .home-text10 {
    text-align: center;
  }
  .home-text18 {
    text-align: center;
  }
  .home-text24 {
    text-align: center;
  }
  .home-text25 {
    text-align: center;
  }
  .home-text32 {
    text-align: center;
  }
  .home-text33 {
    text-align: center;
  }
  .home-text42 {
    text-align: center;
  }
  .home-stats1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    grid-template-columns: 1fr 1fr;
  }
  .home-text47 {
    text-align: center;
  }
  .home-text52 {
    text-align: center;
  }
  .home-text53 {
    text-align: center;
  }
  .home-text57 {
    text-align: center;
  }
  .home-text62 {
    text-align: center;
  }
}
@media(max-width: 479px) {
  .home-hero {
    width: 100%;
    padding: var(--dl-space-space-twounits);
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-btn-group {
    flex-direction: column;
  }
  .home-button {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .home-stats {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
    grid-template-columns: 1fr;
  }
  .home-stats1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
    grid-template-columns: 1fr;
  }
}
