.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-text {
  transition: 0.3s;
}
.navigation-links-text:hover {
  color: var(--dl-color-gray-500);
  font-size: 20px;
}
.navigation-links-text1 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text1:hover {
  color: var(--dl-color-gray-500);
  font-size: 20px;
}
.navigation-links-text2 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text2:hover {
  color: var(--dl-color-gray-500);
  font-size: 20px;
}
.navigation-links-text3 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-twounits);
}
.navigation-links-text3:hover {
  color: var(--dl-color-gray-500);
  font-size: 20px;
}








@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: row;
  }
  .navigation-links-text1 {
    margin-left: var(--dl-space-space-twounits);
    margin-bottom: 0px;
  }
  .navigation-links-text2 {
    margin-left: var(--dl-space-space-twounits);
    margin-bottom: 0px;
  }
  .navigation-links-text3 {
    margin-left: var(--dl-space-space-twounits);
    margin-bottom: 0px;
  }
}
@media(max-width: 479px) {
  .navigation-links-nav {
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .navigation-links-text {
    font-size: 14px;
    margin-bottom: 0px;
  }
  .navigation-links-text1 {
    font-size: 14px;
    margin-left: var(--dl-space-space-halfunit);
    margin-bottom: 0px;
  }
  .navigation-links-text2 {
    font-size: 14px;
    margin-left: var(--dl-space-space-halfunit);
    margin-bottom: 0px;
  }
  .navigation-links-text3 {
    font-size: 14px;
    margin-left: var(--dl-space-space-halfunit);
    margin-bottom: 0px;
  }
}
